aiocron
aiohttp
aiosignal
anyio
async-timeout
attrs
beautifulsoup4
certifi
charset-normalizer
croniter
discord.py
exceptiongroup
frozenlist
h11
httpcore
httpx
idna
multidict
python-dateutil
python-dotenv
pytz
requests
six
sniffio
soupsieve
tzdata
tzlocal
urllib3
wheel
yarl